<img class="imgCover" src="assets/images/hc2.jpg">

<div class="bookingform">
  <app-booking></app-booking>
</div>

<div class="subContainer mt-2">
  <div class="row">
    <div class="offset-1 col-md-4  mt-5 ">
      <div class="card">
        <div class="view overlay">
          <img class="card-img-top" src="assets/HotelPhoto/standard.jpg"
            alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title text-center text-info">Standard Room</h4>
          </div>
        </div>

        
    </div>
    </div>
    <div class="offset-1 col-md-5 mt-5 text-white col-form-label-lg ">
      
    <h4 class="text-uppercase"> Rooms</h4>
        <p>Take time to breathe… Combining the essence of Myanmar with Asian and western accents, our 354 intuitively designed N’rooms and suites afford the ultimate in space, tranquility, functionality and comfort.</p>
        <button type="button" class="btn btn-outline-light text-light mr-4" [routerLink]="['/room']">View All Rooms</button>
        
  </div>

</div>

<div class="mt-4">
<app-footer></app-footer>
</div>