@import 'https://fonts.googleapis.com/css?family=Montserrat|Open+Sans';

img { max-height: 50px; }

 nav.navbar{
     
     font-family: 'Open Sans', sans-serif;
     text-decoration-color: dark;
    
 }
 .navbar-expand-md .navbar-nav>a:hover{
    color:#FFCC00;
 }



.navbar-expand-md .navbar-nav>.active>a:hover,
.navbar-expand-md .navbar-nav>a:focus {
  color:#FFCC00;
  border-bottom: 1px solid;
}

.navbar-expand-md .navbar-nav>.active{
    color: #FFCC00;
    text-decoration: none;
    
}


.btn{
    border:1px solid #FFCC00;
    padding:10px 30px;
    text-decoration:none;
}

.btn:hover{
    background-color: #FFCC00;
    color:#000;
}




