 img { max-height: 50px; }

 nav.navbar{
     margin-right: 150px;
     font-size:17px;
     
     text-decoration-color: dark;
 }

 .topnav-centered a:hover{

    color:paleturquoise;
    border-bottom: 1px solid red;
    text-decoration: none;
    
}

.topnav-centered a.active {
    
    color: brown;
    border-bottom: 1px solid red;
    text-decoration: none;
    padding:8px;
    
  }

/*.topnav-centered a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }





.topnav  {
    float: none;
    position: absolute;
    top: 5%;
    left: 32%;
    text-decoration-color: dark;
  }

 



     */