<nav class="navbar navbar-expand-lg justify-content-end">
    <div class="topnav-centered">
        <div class="collapse navbar-collapse">
            <img alt="Brand" src="assets/images/logo.png" class="img-responsive" />
            <a class="navbar-brand" class="active" [routerLink]="['/']">CeeSar</a>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0  ">

                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/room']">Room</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/facility']">Facility and Services</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/food']">Food and Drink</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/contact']">Contact</a>
                </li>

            </ul>

            <button type="button" class="btn btn-outline-info text-dark" [routerLink]="['/room']">Book Now</button>
        </div>
    </div>
</nav>