<div class="serviceImg">
</div>

<div class="headerTitle">
      <h4 class="text-uppercase">Booking</h4>
</div>

<div class="container" style="background-color: cornsilk;">
    <div class="row mt-5">
        <div class="col-md-8">
              
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item"><a href="#">Library</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Data</li>
                </ol>
              </nav>
              
        </div>
        <div class="offset-1 col-md-3 justify-content-end">
            <app-bookingroom></app-bookingroom>
        </div>
    </div>
</div>