<img class="card-img-top" src="assets/contact/git2.jpg">

<div class="row mt-5">


    <div class="offset-2 col-md-4">

        
            <h6 class="text-uppercase mb-4 font-weight-bold">Contact Information</h6>
            <p>
                <i class="fas fa-home mr-3"></i> Mandalay, Bagan</p>
            <p>
                <i class="fas fa-envelope mr-3"></i> ceesarhotel@gmail.com</p>
            <p>
                <i class="fas fa-phone mr-3"></i> (+95) 9 467 867 886</p>
            <p>
                <i class="fas fa-print mr-3"></i> (+95) 9 467 867 895</p>

    </div>

    <div class="verticalLine"></div>

    <div class=" offset-1 col-md-4 ">

        <h6 class="text-uppercase mb-4 font-weight-bold text-center">Contact Us on Social</h6>
        <p >Keep in touch for knowing to all news and happening.</p>

        <ul >
            <li class="list-inline-item ml-3">
                <a href="https://www.facebook.com/" class="btn-floating rgba-white-slight mx-1">
                    <i class="fab fa-facebook-f"></i>
                </a>
            </li>

            <li class="list-inline-item ml-3">
                <a href="https://twitter.com/" class="btn-floating rgba-white-slight mx-1">
                    <i class="fab fa-twitter"></i>
                </a>
            </li>
            <li class="list-inline-item ml-3">
                <a href="https://mail.google.com/" class="btn-floating rgba-white-slight mx-1">
                    <i class="fab fa-google-plus-g"></i>
                </a>
            </li>
            <li class="list-inline-item ml-3">
                <a href="https://www.linkedin.com/" class="btn-floating rgba-white-slight mx-1">
                    <i class="fab fa-linkedin-in"></i>
                </a>
            </li>
        </ul>
    </div>    

</div>

