<div class="serviceImg"></div>

<div class="headerTitle">
    <h4>Booking Services</h4>
</div>

<div class="container m-5">


    <form>

        <div class="form-row">
            <div class="col-md-3">
                <div class="form-group col">
                    <label> Check In</label>
                    <input class="form-control" type="date" value="2080-01-01">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label>Nights</label>
                    <select class="form-control">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group col">
                    <label>Check Out</label>
                    <input class="form-control" type="date" value="2080-01-01">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label>Guests</label>
                    <select class="form-control" id="exampleDarkSelect">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>


                </div>
            </div>


            <div class="col-md-2 mt-2">
                <div class="form-group col">
                    <button type="button" class="btn btn-outline-info mt-4">Check Availability</button>
                </div>
            </div>

        </div>
        ---------------------------------------------------------- ######################################



    </form>





</div>