*{
    margin:0;
    padding:0;
}

.banner{
    position: relative;
    width: 90%;
    margin:0 auto;
}

.banner img{
    width:100%;
}

.heading{
    color:red;
    position: absolute;
    top:50%;
    width:100%;
    text-align: center;
    font-size: 3rem;
}

.headerTitle{
    background-image: url('src/assets/images/cover1.jpg');
    height: 100vh;
    background-size: cover;
    background-position:center;
}