<div class="container">
    <div class="form-row">
        <div class="form-group col-md-3 border-darken-3">
            <label>Check In Date</label>
            <input type="date">
        </div>

        <div class="form-group col-md-3 border-darken-3">
            <label>Check Out Date</label>
            <input type="date">
        </div>

        <div class="form-group col-md-2 border-darken-3">
            <label>Adults</label>
            <select>
                <option>1</option>
                <option>1</option>
            </select>
        </div>

        <div class="form-group col-md-2 border-darken-3">
            <label>Children</label>
            <select>
                <option>1</option>
                <option>1</option>
            </select>
        </div>
        <div class="form-group col-md-2 border-darken-3">
            <button type="button" class="btn btn-primary btn-sm">Book Now</button>
        </div>

    </div>
</div>
