.serviceImg{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('src/assets/images/fitness.jpg');
    height: 20vh;
    background-size: cover;
    background-position:center;
}

.headerTitle{
    position: absolute;
    top:23%;
    left: 50%;
    transform: translate(-50%,-50%);
    color:white;
    font-size: 50px;
}

.input-op{
    width:40px;
}

