<br>
<div class="container">
    <h3>Rooms & Rates</h3>

    <div class="row">

        <div class="col-md-5 photo-hotel ">
            <img src="assets/HotelPhoto/standard2.jpg" class="img-thumbnail float-left">
        </div>

        <div class="col-md-5">
            <h3 class="card-title">Standard Room</h3>
            <p class="card-text">Our Standard Room offer breathtaking views of the city skyline.</p>

            <ul>
                <li> Size: 260 sq ft </li>
                <li> Beds: 2 Double(s)</li>
            </ul>

            <div class="icon-bar">

                <a href=""><i class="fa fa-wifi" data-toggle="tooltip" data-placement="top" title="WiFi" ></i></a>
                <a href=""><i class="fa fa-snowflake-o" data-toggle="tooltip" data-placement="top" title="A/C"></i> </a>
                <a href=""><i class="fa fa-phone" data-toggle="tooltip" data-placement="top" title="Telephone"></i></a>
                <a href=""><i class="fa fa-television" data-toggle="tooltip" data-placement="top" title="TV"></i></a>
                <a href=""><i class="fa fa-shower" data-toggle="tooltip" data-placement="top" title="Shower" ></i></a>
                <a href=""><i class="fa fa-beer" data-toggle="tooltip" data-placement="top" title="MiniBar" ></i></a>
                <a href=""><i class="fa fa-taxi" data-toggle="tooltip" data-placement="top" title="TAXI" ></i></a>
                <a href=""><i class="fa fa-bath" data-toggle="tooltip" data-placement="top" title="Bathtub" ></i></a>
                <a href=""><i class="fa fa-cutlery" data-toggle="tooltip" data-placement="top" title="Breakfast" ></i></a>

            </div>
        </div>

        <div class="col-md-2  ">
            <a href="#" class="btn btn-primary">Check Detail</a>
        </div>


    </div>

    <br>
    <div class="row">

        <div class="col-md-5 photo-hotel">
            <img src="assets/HotelPhoto/suite2.jpg" class="img-thumbnail float-left">
        </div>

        <div class="col-md-5">
            <h3 class="card-title">Suite Room</h3>
            <p>Our Suite Rooms are the perfect combination of function and comfort.</p>

            <ul>
                <li> Size: 230 sq ft</li>
                <li>Beds: 1 Double(s)</li>
            </ul>

        </div>

        <div class="col-md-2">
            <a href="#" class="btn btn-primary">Check Detail</a>
        </div>

    </div>

    <br>
    <div class="row">

        <div class="col-md-5 photo-hotel">
            <img src="assets/HotelPhoto/superior2.jpeg" class="img-thumbnail float-left">
        </div>

        <div class="col-md-5">
            <h3 class="card-title">Superior Room</h3>
            <p>Our Superior Rooms are comfortable, roomy and elegant.</p>

            <ul>
                <li>Size: 280 sq ft</li>
                <li>Beds: 1 King(s)</li>
            </ul>

        </div>

        <div class="col-md-2">
            <a href="#" class="btn btn-primary">Check Detail</a>
        </div>

    </div>

    <br>
    <div class="row">

        <div class="col-md-5 photo-hotel">
            <img src="assets/HotelPhoto/family.jpeg" class="img-thumbnail float-left">
        </div>

        <div class="col-md-5">
            <h3 class="card-title">Family Room</h3>
            <p class="card-text">Our Family Room are wide , comfortable , roomy and elegant for families.</p>

            <ul>
                <li>Size: 320 sq ft</li>
                <li>Beds: 2 King(s) </li>
            </ul>

        </div>

        <div class="col-md-2">
            <a href="#" class="btn btn-primary">Check Detail</a>
        </div>

    </div>

</div>