<div class="roomimg">
</div>

<h4 class="roomtitle">ROOMS</h4>
<div class="container">

    <div class="row mt-5" *ngFor="let room of (rooms$ | async)">

        <div class="col-md-4 photo-hotel ">
            <img [src]="room.photos[0]" class="img-thumbnail ">
        </div>



        <div class="col-md-6">
            <h3 class="card-title">{{room.name}}</h3>
            <p class="card-text">{{room.description}}</p>

            <ul>
                <li *ngFor="let props of objToArray(room.properties)"><strong>{{props}} :  </strong> {{room.properties[props]}}</li>
            </ul>


            <div class="icon-bar">
                <a> <i class="mr-3" *ngFor="let icon of objToArray(room.amenities)" [class]="room.amenities[icon] "></i></a>

            </div>
        </div>

        <div class="col-md-2 align-items-center">
            <div class="row mt-5  justify-content-center">
                <label>From</label>
            </div>
            <div class="row mt-1 justify-content-center">
                <h3><i class="fas fa-dollar-sign"></i>150</h3>
            </div>
            <div class="row mt-4 justify-content-center">
                <a [routerLink]="['/roomdetail' , room.id]" class="btn btn-outline-info text-info ">Check Detail</a>
            </div>

        </div>
    </div>
</div>

<!--[state]="{key : values }"-->