.serviceImg{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('src/assets/images/yoga1.jpg');
    height: 20vh;
    background-size: cover;
    background-position:center;
}

.headerTitle{
    position: absolute;
    top:23%;
    left: 50%;
    transform: translate(-50%,-50%);
    color:white;
    font-size: 45px;
}

.subTitle{
    color: black;
    text-transform: uppercase;
    display: block;

}


.text1{
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 5px;
    position: relative;
    animation:text 3s 1;
    
}

hr{
    width:12rem;
    height: .1rem;
    background-color:#6ab04c ;
    margin: 0 auto 2rem;
}

img{
    width: 320px;
    height: 330px;
    background-size: cover;
    border-radius: 10px;
}

@keyframes text{
    0%{
        color:green; 
    }
    1%{
        letter-spacing: 4px;
    }

}

img:hover{
    opacity: .4;
}
