<div class="serviceImg">
</div>

<div class="headerTitle">
      <h4>YOGA</h4>  
</div>

<div class="container m-5">
    <div class="row">
        <div class="subHead">
        <div class="col-md-4">
                <h4>YOGA Friendly Community</h4><br>
                <hr>
                    
                <i class="fas fa-location-arrow"></i>501, 5th Floor
                <i class="fas fa-clock"></i> 8AM- 10AM
                    
                
                
        </div>
        </div>
        <div class="col-md-4">
            <figure><img src="assets/images/yoga3.jpg"></figure> 
            <p class="justify-content-center my-3 text-monospace ">Yoga is not just a physical practice…..it offers the pathway to health, happiness and compassion. And it starts with one simple decision to commit. Commit to taking responsibility for your health and your happiness.</p>
        </div>
        <div class="col-md-4">
            <p class="justify-content-center text-monospace">Members will be offered an optional gym induction and/or fitness assessment upon joining. We also offer a range of Personal Training and Online Coaching options to help you stay motivated.</p>
            <img src="assets/images/yoga1.jpg" class="my-3">
        </div>
    </div>

    <div class="row justify-content-center my-3">
        
        <h4>Prices</h4>
       
    </div>
    <hr>
    <div class="row">
        <div class="col-md-5 offset-1">
            <table class="table table-sm table-borderless">

                <tbody>
                  <tr>
                    <th scope="row">Personal Training Session</th>
                    <th></th>
                  </tr>
                  <tr>
                    <td>One-off personal training session with one of our trainners</td>
                    <td class="text-info text-uppercase"><h3>$89</h3> </td>
                  </tr>
                </tbody>
            </table>
        </div>

        <div class="offset-1 col-md-5">
            <table class="table table-sm table-borderless">
                <tbody>
                  <tr>
                    <th scope="row">Online Coaching</th>
                    <th></th>
                  </tr>
                  <tr>
                    <td>You'll receive specialised one-to-one coaching that suites your lifestyle & schedule</td>
                    <td class="text-info text-uppercase"><h3>$100</h3> </td>
                  </tr>
                </tbody>
            </table>
        </div>
       
    </div>

    
    <div class="row">
        <div class="col-md-5 offset-1">
            <table class="table table-sm table-borderless">

                <tbody>
                  <tr>
                    <th scope="row">Personal Training Course</th>
                    <th></th>
                  </tr>
                  <tr>
                    <td>Block of 6 personal training sessions </td>
                    <td class="text-info text-uppercase"><h3>$150</h3></td>
                  </tr>
                </tbody>
            </table>
        </div>

        <div class="offset-1 col-md-5">
            <table class="table table-sm table-borderless">
                <tbody>
                  <tr>
                    <th scope="row">Online & Personal Coaching</th>
                    <th></th>
                  </tr>
                  <tr>
                    <td>A mix of one-to-one coaching & personal training sessions that suits your schedule</td>
                    <td class="text-info text-uppercase"> <h3>$150</h3> </td>
                  </tr>
                </tbody>
            </table>
        </div>
       
    </div>
</div>