<div class="serviceImg">
</div>

<div class="headerTitle">
      <h4>Welcome Facility Service</h4>  
</div>

<div class="container">
      <div class="row">
      <div class="row align-items-center">
      <div class="col" [routerLink]="['/facilitydetail']">
         <figure><img src="assets/images/cover1.jpg"></figure>   
         <div class="overlay">More Info</div>
      </div>
      <div class="col" [routerLink]="['/facilitydetail']" >
           <figure> <img src="assets/images/cover2.jpg"></figure>
           <div class="overlay">More Info</div>
      </div>
      <div class="col" [routerLink]="['/facilitydetail']">
           <figure><img src="assets/images/cover.jpg"></figure> 
           <div class="overlay">More Info</div>
      </div>
      <div class="col" [routerLink]="['/facilitydetail']">
            <figure><img src="assets/images/facility.jpg"></figure>
            <div class="overlay">More Info</div>
      </div>
      </div>
</div>
</div>
