<div class="serviceImg">
</div>

<div class="headerTitle">
    <h4 class="text-uppercase">Facility Services</h4>
</div>

<div class="container my-4">
    <div class="row mt-3">
        <div class="row align-items-center">

            <div class="col-md-3">
                <div class="card" [routerLink]="['/facilitydetail']">
                    <img class="card-img-top" src="assets/images/fitness.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title text-center text-uppercase">Fitness</h5>
                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <div class="card" [routerLink]="['/facility/yoga']">
                    <img class="card-img-top" src="assets/images/yoga.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="text-center text-uppercase">Yoga</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card" [routerLink]="['/yoga']">
                    <img class="card-img-top" src="assets/images/facility/sunshine.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="text-center text-dark text-uppercase">sunshine</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card" [routerLink]="['/meeting']">
                    <img class="card-img-top" src="assets/images/meeting1.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="text-center text-dark text-uppercase">Meeting Facility</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="row mt-5">
        <div class="row align-items-center">

            <div class="col-md-3">
                <div class="card" [routerLink]="['/facilitydetail']">
                    <img class="card-img-top" src="assets/images/facility/laundry.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title text-center text-uppercase">laundry</h5>
                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <div class="card" [routerLink]="['/facility/yoga']">
                    <img class="card-img-top" src="assets/images/facility/parking.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="text-center text-uppercase">Parking</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card" [routerLink]="['/yoga']">
                    <img class="card-img-top" src="assets/images/facility/pool.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="text-center text-dark text-uppercase">Swimming Pool</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card" [routerLink]="['/meeting']">
                    <img class="card-img-top" src="assets/images/meeting1.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="text-center text-dark text-uppercase">Meeting Facility</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>