<div class="serviceImg">

</div>
<div class="headerTitle">
    <h4 class="text-uppercase">Meeting Facilities</h4>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-5">
            <figure><img src="assets/images/meeting1.jpg"></figure>
        </div>

        <div class="col-md-4">
            <div class="subTitle">
                <span class="text1">CeeSar HOtel Meeting Facilities</span><br>
                <span class="text2">Comfortable and Large Area</span>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-5">
            <figure><img src="assets/images/meeting3.jpg"></figure>
        </div>
        <div class=" offset-1 col-md-6">

            <div class="row my-5">

                <blockquote class="blockquote text-center">
                    Meeting Facilities for up to 30 guests are available and that inclusive of slide projector, mic,
                    coffee & snack and complimentary drinking water. Our Sales and Marketing Department will be happy to
                    provide more information.
                </blockquote>

            </div>
        </div>
    </div>