<div class="row">
    <div class="card" style="width: 18rem;">
        <div class="card-header">
            Your Reservation
        </div>
        <ul class="list-group list-group-flush">

            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-8 ">
                        <label>Check In</label>
                        <input class="form-control" type="date" placeholder="Check In" value="2020-01-01">
                    </div>
                    <div class="col-md-4">
                        <label>Nights</label>
                        <select class="form-control" placeholder="1 Adults">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>
            </li>

            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-8 ">
                        <label>Check Out</label>
                        <input class="form-control" type="date" placeholder="Check In" value="2020-01-01">
                    </div>
                    <div class="col-md-4">
                        <label>Rooms</label>
                        <select class="form-control" placeholder="1 Adults" (change)="onChange($event.target.value)">
                            <option *ngFor="let room of rooms; let i = index" [value]="i + 1">{{i + 1}}</option>
                        </select>
                    </div>
                </div>
            </li>

            <li class="list-group-item">

                <div class="row justify-content-center">
                    <div class="card mb-1" *ngFor="let r of roomList; let i = index" style="width:100%;">

                        

                        <div class="card-body ">
                            <div class=" card-title text-center ">Room {{i + 1}}</div>
                        <hr>
                        <div class="row">
                            <div class="col-md-6" style="background-color: rgb(231, 145, 159);">
                                <label> Adults</label>
                            </div>
                            <div class="col-md-6 text-center" style="background-color: rgb(174, 32, 230);">
                               
                                    <span class=""><i class="fas fa-minus-circle fa"></i>&nbsp;&nbsp;</span>1&nbsp;&nbsp;
                                    <span class=""><i class="fas fa-plus-circle fa"></i>&nbsp;&nbsp;</span>
                               
                            </div>
                        </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <label> Children</label>
                                </div>
                                <div class="col-md-6 text-center">
                                    <p>
                                        <span class=""><i class="fas fa-minus-circle fa"></i>&nbsp;&nbsp;</span>1&nbsp;&nbsp;
                                        <span class=""><i class="fas fa-plus-circle fa"></i>&nbsp;&nbsp;</span>
                                    </p>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </li>

            <li class="list-group-item text-center">
                <button class="btn btn-outline-dark pr-5 pl-5" [routerLink]="['/checkbooking']" > Check Availability</button>
            </li>
        </ul>
    </div>
</div>